---
import ArrwoScroll from '../assets/arrow-down.svg';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/src/assets/hero-key-logo.webp" />
    <meta name="generator" content={Astro.generator} />
    <title>Amarres de amor</title>
        <title>Amarres de Amor Efectivos | Maestro Espiritual</title>
    <meta name="description" content="Amarres de amor efectivos, trabajos espirituales, unión de parejas y rituales personalizados. Resultados rápidos y garantizados.">
  </head>

  <body>
    <slot />
    <img
	id="scroll-down"
      src={ArrwoScroll.src}
      alt="Scroll Down"
      class="fixed scale-200 bottom-6 left-1/2 transform -translate-x-1/2 drop-shadow-2xl animate-bounce-pulse w-8 h-8 opacity-90 z-50"
    />
    
  </body>
</html>

<style is:global>
  @import "tailwindcss";
  @theme {
	--font-sans: AMR, sans-serif;
	--font-narrow: AMRNarrow, sans-serif;
--animate-bounce-pulse: bounce-pulse 2s ease-in-out infinite;
  
  }	

  @keyframes bounce-pulse {
    0% {
      transform: translateY(0) scale(0.8);
      opacity: 0.8;
    }
    50% {
      transform: translateY(-5px) scale(1.2);
      opacity: 1;
    }
    100% {
      transform: translateY(0) scale(0.8);
      opacity: 0.8;
    }
  }

  html,
  body {
    background:rgb(6, 1, 16);
    height: 300vh;
    overflow-x: hidden;
    overscroll-behavior: none;
    color: white;
    margin: 0;
    width: 100%;
  }

  @font-face {
    font-family: AMR;
    src: url("/fonts/regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: AMR;
    src: url("/fonts/bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: AMR;
    src: url("/fonts/semibold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: AMRNarrow;
    src: url("/fonts/narrow.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
</style>

